<div class="signalr-state"
  [class.disconnected]="state === connectState.Disconnected"
  [class.connecting]="state === connectState.Connecting"
  [class.connected]="state === connectState.Connected">
  <div class="signalr-state__light">
    <span class="signalr-state__icon"></span>
    <span class="signalr-state__name">{{ state }}</span>
  </div>
  <div class="signalr-state__time" [title]="'Last Update Time: ' + (lastUpdateTime | date:'EEEE, MMMM d, y, h:mm:ss a')">
    <i class="material-icons">update</i>
    <span class="signalr-state__last-update-time">{{ lastUpdateTime | date:'shortTime' }}</span>
  </div>
</div>

<h1>Realtime communication with WebRTC</h1>

<audio #localAudio id="localAudio" autoplay playsinline></audio>
<audio #remoteAudio id="remoteAudio" autoplay playsinline></audio>

<div>
  <button #startButton id="startButton">Start</button>
  <button #callButton id="callButton">Call</button>
  <button #hangupButton id="hangupButton">Hang up</button>
</div>
